@font-face {
    font-family: $montExBold;
    src: url("../fonts/Mont/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: $montSem;
    src: url("../fonts/Mont/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: $montLight;
    src: url("../fonts/Mont/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: $montExLight;
    src: url("../fonts/Mont/Montserrat-ExtraLight.ttf") format("truetype");
}
