.header {
    &-top {
      background: rgba(#fff, 0.1);
      border: 1px solid rgba(#fff, 0.15);
      height: 40px;
  
      .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
  
      // &__left {
      //   margin: 0;
      //   display: block;
      //   width: 100%;
      //   background: red;
      //   span {
      //     font-size: 13px;
      //     font-style: italic;
      //   }
      // }
  
      &__marque {
        margin-right: 20px;
        font-size: 13px;
        font-style: italic;
      }
  
      &__lang {
        display: block;
        margin: 0 20px 0 auto;
        padding: 10px 0;
        position: relative;
  
        & > img {
          width: 30px;
          height: 20px;
          object-fit: cover;
          object-position: center center;
          cursor: pointer;
        }
  
        &:hover {
          .header-top__lang-drop {
            display: flex;
          }
        }
  
        &-drop {
          position: absolute;
          left: 0;
          top: 100%;
          display: none;
          max-width: 180px;
          border-radius: 0 0 10px 10px;
          box-shadow: 0 5px 5px rgba(#fff, 0.2);
          flex-direction: column;
          padding: 5px 10px;
          background: rgba($primary, .5);
          a {
            display: flex;
            font-size: 13px;
            font-style: italic;
            background: transparent !important;
            color: rgba(#fff, 0.6);
  
            &:hover {
              color: rgba(#fff, 1);
            }
            img {
              height: 20px;
              width: 30px;
              object-fit: cover;
              object-position: center center;
              margin-right: 5px;
            }
          }
        }
      }
  
      &__auth {
        min-width: 200px;
        display: flex;
        a {
          font-size: 13px;
          font-style: italic;
        }
  
        a:first-child {
          margin-right: 20px;
        }
      }
    }
  
    &-middle {
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      &__logo {
        display: block;
        margin-right: 25px;
        max-width: 320px;
        width: 100%;
        min-height: 45px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          transition: all .3s ease-out;
        }

        &:hover img {
          filter: drop-shadow(0 0 10px rgba(#fff, .2));
        }
      }
  
      &__banner {
        min-height: 45px;
        width: 100%;
  
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          object-position: top center;
        }
      }
    }
  
    &-bottom {
      padding-top: 0;
      padding-bottom: 0;
      
      &.sticky {
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        background: rgba($primary, .8);
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px; 
        animation: fadeDown .5s linear 1 forwards;
        box-shadow: 0 0 10px rgba(#000, .9);
      }

      .navbar-brand {
        display: none;
        img {
          transition: all .3s ease-out;
        }

        &:hover img {
          filter: drop-shadow(0 0 10px rgba(#fff, .2));
        }
      }
  
      .navbar-nav {
        border-radius: 0;
        // background: rgba(#fff, .1);
        // border: 1px solid rgba(#fff, .15);
        min-height: 40px;
        display: flex !important;
        justify-content: center;
        width: 100%;
        .nav-item {
          margin-right: 10px;
          min-width: 120px;
          text-align: center;
          position: relative;
          border: 1px solid $orange;
          border-radius: 20px 0 20px 0;
          background: linear-gradient(to top, darken($orange, 20%), $orange, lighten($orange, 20%));
          // overflow: hidden;
          cursor: pointer;
          
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0%;
            background: $primary;
            border-radius: 20px 0 20px 0;
            transition: all 0.3s linear;
            // animation: circledMenu 2s linear infinite paused;
          }
          
          &:last-child {
            margin-right: 0;
          }
          
          &.nav-item-single {
            border-color: #00B0FF;
            background: linear-gradient(to top, #00B0FF, lighten(#00B0FF, 30%));
          }

          &:hover {
            &::before {
              height: 100%;
              // border-radius: 0;
            }
            
            .nav-link {
              color: #fff;
            }
          }
  
          .dropdown-menu {
            background-color: transparent;
  
            .dropdown-item {
              margin-bottom: 5px;
              min-width: 120px;
              border-radius: 20px 0 20px 0;
              background: linear-gradient(to top, darken($orange, 20%), $orange, lighten($orange, 20%));
              position: relative;
              span {
                position: relative;
                color: rgba(#000, 1);
              }
              &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 0%;
                background: $primary;
                border-radius: 20px 0 20px 0;
                transition: all 0.3s linear;
              }
  
              :last-child {
                margin-bottom: 0;
              }
  
              &:hover {
                span {
                  color: #fff;
                }
                &::before {
                  height: 100%;
                }
              }
            }
          }
        }
  
        .nav-link {
          z-index: 2;
          position: relative;
          color: $primary;
          display: block;
  
          &:hover {
            color: lighen($primary, 10%);
            text-shadow: 0 0 5px rgba(#fff, 0.1);
          }
        }
      }
    }
  
    &-search {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 60px 0;
      background: rgba(#000, 0.25);
      color: #fff;
      border-top: 10px solid rgba(255, 255, 255, 0.12);
      border-bottom: 10px solid rgba(255, 255, 255, 0.12);
  
      &__form {
        position: relative;
        background: red;
        max-width: 500px;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        height: 50px;
        background: rgba(#fff, 0.15);
        border: 1px solid rgba(#fff, 0.1);
        display: flex;
        z-index: 1;
        &-icon {
          position: absolute;
          left: 6px;
          z-index: 1;
          top: 13px;
          font-size: 24px;
        }
  
        &-search {
          padding-left: 35px;
          position: relative;
          width: 100%;
          background: transparent;
          outline: none !important;
          border: none !important;
          box-shadow: none !important;
          color: #fff;
          background: rgba(#fff, 0.1);
          &::placeholder {
            color: #fff;
          }
  
          &:focus,
          &:hover,
          &:active {
            background: rgba(#000, 0.25);
          }
        }
  
        &-reset {
          outline: none !important;
          border: none !important;
          box-shadow: none !important;
          background: none !important;
          position: absolute;
          top: 50%;
          right: 55px;
          color: #fff;
          transform: translateY(-50%);
          display: none;
        }
        &-submit {
          @extend .center;
          outline: none !important;
          border: none !important;
          box-shadow: none !important;
          padding: 8px 20px;
          width: 50px;
          height: 100%;
          position: relative;
          background: #4f5f6f;
          color: #fff;
  
          &:focus {
            background: lighten(#4f5f6f, 10%);
          }
        }
  
        &-toolTop {
          position: absolute;
          left: 0;
          top: -100px;
          background: #fff;
          border: 3px solid #0096e3;
          display: block;
          padding: 12px 20px 12px 12px;
          color: #777;
          display: none;
  
          & > .remove {
            position: absolute;
            right: 3px;
            top: 3px;
            font-size: 16px;
            line-height: 1;
            cursor: pointer;
            @extend .center;
            width: 20px;
            height: 20px;
          }
  
          &.show {
            display: block;
            animation: fadeUp .5s linear 1 forwards;
          }
  
          span {
            color: #3190b0;
          }
  
          &::before {
            content: "";
            position: absolute;
            z-index: 10;
            left: 10px;
            top: 74px;
            border: 10px solid transparent;
            border-top-color: #0096e3;
          }
        }
  
        &-toolCog {
          position: absolute;
          left: 0;
          padding-top: 20px;
          top: calc(100% + 20px);
          background: #fff;
          border: 3px solid #0096e3;
          display: none;
          color: #777;
          max-width: 400px;
          width: 100%;
  
          & > .remove {
            position: absolute;
            right: 3px;
            top: 3px;
            font-size: 16px;
            line-height: 1;
            cursor: pointer;
            @extend .center;
            width: 20px;
            height: 20px;
          }
  
          &::before {
            content: "";
            position: absolute;
            z-index: 10;
            left: 3px;
            top: -20px;
            border: 10px solid transparent;
            border-bottom-color: #0096e3;
          }
  
          &.show {
            display: block;
            animation: fadeDown .5s linear 1 forwards;
          }
  
          li {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #656565;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
      
            .fa {
              margin-left: 5px;
              width: 20px;
              height: 100%;
              line-height: 1;
              @extend .center;
            }
  
            .fa-check-sqare-o {
              color: inherit;
            } 
  
            &.checked {
              color: #0096e3;
              border-bottom: 1px solid #a4d9eb;
            }
  
            &:hover {
              background: #59C2E6!important;
              color: #fff!important;
            }
  
          }
        }
      }
    }
  }
  